
/*
#carouselExampleDark{
    padding:10px;
}
.carousel-dark{
width: 30%;

}
.card{
    display: flex;
    
    width: 30% ;
    
}

*/

.container-fluid {
  display: grid;
  background-color: transparent;
  grid-template-columns: 1.5fr 1.5fr;
  grid-template-rows: 0.8fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". oferta2";
}
  
  .oferta1 { grid-area: oferta1;
    display: block;
    width:max-content;
   
    margin-top: 100px;
}
 
  .oferta2 { grid-area: oferta2; 
    display: flex;
   
    
    margin-top: 100px;
}



@media (max-width: 412px) {
  .oferta2 {
    width:12px;
  }
}
 