
/*
#carouselExampleDark{
    padding:10px;
}
.carousel-dark{
width: 30%;

}
.card{
    display: flex;
    
    width: 30% ;
    
}

*/


  
  .oferta1 { grid-area: oferta1;
    display: block;
    width:max-content;
   
    
}
.oferta2 {
  width: 100%; /* Ajustar el ancho al 100% del contenedor */
  max-width: 20rem; /* Establecer un ancho máximo */
  margin: 0 auto; /* Centrar horizontalmente */
  margin-top: 10px;

}

@media (max-width: 412px) {
  .oferta2{
    display: flex;

    flex-direction: column;
    align-items: center;
  }
}


