
<div class="info">

    <div class="about"> 
        <h1>About me
        </h1>
     <p id="descript">  Soy Gastón Manuel Ftacla soy desarrollador FullStack, Tester Manual</p>
    <p id="descript">y soy estudiante de tecnicatura en programación en la UTN de Mar del Plata.
    </p>
    </div>
    <div>
        <h1>Contacto</h1>
        <ul class="enlaces">
         <li class="li">
            <a href="https://linkedin.com/in/gast%C3%B3n-manuel-ftacla-04b57b229" ><i class="fa-brands fa-linkedin"  style="color:#FFFFFF"></i> </a>
         </li>
         <li class="li">   
         <a href="https://wa.me/542235034695"><i class="fa-brands fa-whatsapp" style="color:#FFFFFF" ></i></a>
        </li>
        <li class="li">   
            <a href="https://github.com/gastyft"><i class="fa-brands fa-github" style="color:#FFFFFF" ></i></a>
           </li>
        </ul>
    </div>
  
    </div>
