<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" routerLink="/principal">ProyectoCarrito.com</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/principal">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/principal">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Categorías
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/cards">celulares</a></li>
              <li><a class="dropdown-item"routerLink="/principal">notebooks</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/principal">ver todo</a></li>
            </ul>
          </li>
         
        </ul>
     
      </div>
    
  </nav>
  
  </header>
  
    

<div class="container"  >
  
<div class="loginn">
  <h2>Ingrese el Email y la Contraseña</h2>

  <form #f="ngForm" (ngSubmit)="onLogin()" novalidate  class="was-validated">
    <div class="form-group">
      <label for="nombreUsuario">Nombre de Usuario:</label>
      <input type="text" class="form-control" id="nombreUsuario" placeholder="Ingrese nombre de usuario"  name="nombreUsuario" [(ngModel)]="nombreUsuario" required>
      <div class="invalid-feedback">Complete con alias o nombre de usuario.</div>
      <div class="valid-feedback">Valido.</div>
    </div>


    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Ingrese contraseña"  name="password" [(ngModel)]="password"  required minlength="4">
      <div class="valid-feedback">Valido.</div>
    </div>
    
<div>
      <input class="btn btn-danger" type="button" value="Volver" routerLink="/principal" >

    <button type="submit" [disabled]="!f.valid" class="btn btn-primary"  >Submit</button>
  </div> 
  </form>
  <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3">Fail en el login.{{errMsj}}</div>
  
</div>

</div>