
<div class="container">
  <div class="cards">
    <table class="table">
      <tbody>
        <tr *ngFor="let datosDispo of dispos">
       
          <td> 
            <div class="card" style="width: 40rem;">
              <img [src]="datosDispo?.url" class="card-img-top" alt="image">
              <div class="card-body">
                <div>
                <h4 class="card-title">{{datosDispo?.nombre}}</h4> 
                <p class="card-text">{{datosDispo?.descrip}}</p> <br>
                <h5 class="card-text">$ {{datosDispo?.precio}}</h5>
             
                <button class="btn btn-secondary" type="button" (click)="agregarAlCarrito(datosDispo)">
                  <i class="fa-solid fa-cart-plus"></i>
                </button>
              </div>
              <div>
                <button class="btn btn-secondary" type="button" routerLink="/editar/{{datosDispo.id}}">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button type="button" class="btn btn-danger" (click)="deleteDispo(datosDispo.id)">
                  <i class="fa-solid fa-square-minus"></i>
                </button>
              </div>
              </div>
            </div>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>