
.nav-bar{
    color:white;
    
}
.navbar-brand{
    color:red; 
}
.nav-item{
padding: 0.5em;
}


.navbar.navbar-expand-lg.navbar-light.bg-light{
    position: fixed;
    width: 100%;
    z-index: 3;

}
.container-fluid {
    margin-top: 60px; /* Para dejar espacio para el navbar fijo */
  }