
.nav-bar{
    color:white;
    margin-top: 0px;
    margin-bottom: 10px;
}
.navbar-brand{
    color:red; 
}
.nav-item{
padding: 0.5em;
}


.navbar.navbar-expand-lg.navbar-light.bg-light{
    position: fixed;
    margin-top: 0px;
    width: 100%;
    z-index: 3;

}
